body {
  display: grid;
  justify-items: center;
  align-items: center;
padding-top: 5%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background: lightskyblue;
color: darkblue;
}
#buttons {
padding-top: 10%;
padding-bottom: 10%;
}
#firstnumber {
  padding-top: 10%;
padding-bottom: 10%;
}
#secondnumber {
  padding-top: 10%;
  padding-bottom: 10%;
}
